html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  min-height: 100vh; /* occupe toute la hauteur */
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* prend tout l’espace */
  padding: 20px;
}

app-footer {
  margin-top: auto; /* pousse le footer en bas */
}
