.modern-nav {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  margin: 12px auto;
  padding: 20px 20px;
  max-width: 1300px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.08);

  .navbar-brand {
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right:30px;
    color: var(--bs-primary);   
    text-decoration: none;

    &:hover {
      opacity: 0.85;
      transform: translateY(-2px);
    }
  }

  .brand-icon {
    font-size: 1.8rem;
    margin-right: 8px;
    color: var(--bs-primary);
  }
}
